<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeaFoodCanIAskYou copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SeaFoodCanIAskYou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SeaFoodCanIAskYouTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SeaFoodCanIAskYouUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D01FEA6120B3042700CC5F25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0732B851DB138E3003A28B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0863A2D1ED7296100D16564</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FF1DC91EE8058D00E3785F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
